/*!
 * Navigation
 * @platform "mercadoshops"
 * @version 5.14.2
 * @author MercadoLibre.com
 */

[role=main], body, html {
    height: 100%
}

.nav-footer-user strong, .nav-title {
    text-overflow: ellipsis;
    white-space: nowrap
}

.nav-footer-user strong, .nav-header__logo, .nav-title {
    font-weight: 400;
    overflow: hidden
}

.nav-header__nav-icon, .search-form, [class*=' nav-icon-'], [class^=nav-icon-] {
    font-style: normal
}

    .nav-footer-social-links .nav-footer-social-link-item:before, .nav-header__nav-icon:before, .search-form:before, [class*=' nav-icon-']:before, [class^=nav-icon-]:before {
        font-variant: normal;
        speak: none;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

@font-face {
    font-family: navigation;
    src: url(https://http2.mlstatic.com/frontend-assets/ui-navigation/5.14.2/navigation.eot);
    src: url(https://http2.mlstatic.com/frontend-assets/ui-navigation/5.14.2/navigation.eot#iefix) format("embedded-opentype"),url(https://http2.mlstatic.com/frontend-assets/ui-navigation/5.14.2/navigation.woff2) format("woff2"),url(https://http2.mlstatic.com/frontend-assets/ui-navigation/5.14.2/navigation.woff) format("woff"),url(https://http2.mlstatic.com/frontend-assets/ui-navigation/5.14.2/navigation.ttf) format("truetype"),url(https://http2.mlstatic.com/frontend-assets/ui-navigation/5.14.2/navigation.svg#navigation) format("svg");
    font-weight: 400;
    font-style: normal
}

[class*=' nav-icon-']:before, [class^=nav-icon-]:before {
    display: inline-block;
    margin: 0;
    text-align: center;
    width: 1em;
    font-family: navigation
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%
}

body {
    border-collapse: collapse;
    display: table;
    background-color: #eee;
    font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
    font-size: 14px;
    table-layout: fixed
}

.nav-footer, .nav-header, [role=main] {
    display: table-row;
    width: 100%
}

    [role=main] .nav-bounds {
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }

        [role=main] .nav-bounds[class*=ch-box-] {
            border: none;
            background-color: transparent
        }

.nav-bounds {
    display: block;
    padding: 0 10px;
    margin: 0 auto
}

.nav-header {
    background-color: #d53541;
    color: #fff;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    cursor: default;
    border-bottom: 1px solid #d9d9d9
}

    .nav-header .nav-bounds {
        position: relative
    }

    .nav-header, .nav-header *, .nav-header :after, .nav-header :before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }

        .nav-header.nav-header-sticky {
            position: fixed;
            z-index: 900
        }

.nav-footer-hp, .nav-header, .nav-header-btn, .nav-title {
    position: absolute
}

    .nav-header.nav-header-sticky + main > .nav-bounds, .nav-header.nav-header-sticky + main > .nav-main-content, .nav-header.nav-header-sticky ~ main > .nav-bounds, .nav-header.nav-header-sticky ~ main > .nav-main-content {
        padding-top: 64px
    }

.nav-header-btn {
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(25%,transparent),color-stop(25%,rgba(99,99,99,.12)));
    background-image: -webkit-linear-gradient(transparent 25%,rgba(99,99,99,.12));
    background-image: linear-gradient(transparent 25%,rgba(99,99,99,.12));
    border: 1px solid rgba(0,0,0,.15);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset none;
    box-shadow: inset none;
    font-size: 13px;
    height: 30px;
    left: 17px;
    line-height: 30px;
    padding: 0 10px;
    text-shadow: none;
    top: 17px
}

    .nav-header-btn:active {
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(25%,rgba(99,99,99,.12)),color-stop(25%,rgba(99,99,99,.2)));
        background-image: -webkit-linear-gradient(rgba(99,99,99,.12) 25%,rgba(99,99,99,.2));
        background-image: linear-gradient(rgba(99,99,99,.12) 25%,rgba(99,99,99,.2));
        -webkit-box-shadow: inset 0 1px rgba(99,99,99,.2);
        box-shadow: inset 0 1px rgba(99,99,99,.2)
    }

    .nav-header-btn + .nav-header-btn {
        left: auto;
        right: 17px
    }

    .nav-header-btn, .nav-header-btn:visited, a.nav-header-btn, a.nav-header-btn:hover, a.nav-header-btn:link, a.nav-header-btn:visited {
        color: #fff;
        text-decoration: none
    }

.nav-title {
    font-size: 1.2em;
    line-height: 64px;
    margin: 0;
    text-align: center;
    text-shadow: none;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 40px
}

.nav-footer {
    color: #999;
    font-size: 13px;
    overflow: hidden
}

    .nav-footer, .nav-footer *, .nav-footer :after, .nav-footer :before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }

        .nav-footer a, .nav-footer a:active, .nav-footer a:link, .nav-footer a:visited {
            color: #999;
            text-decoration: none
        }

.nav-cart, .nav-header__logo, .nav-header__nav-link {
    text-decoration: none !important
}

.nav-footer .nav-footer-change-device, .nav-footer .nav-footer-change-device:active, .nav-footer .nav-footer-change-device:link, .nav-footer .nav-footer-change-device:visited {
    float: right;
    display: inline-block;
    line-height: 14px;
    color: #666
}

.nav-footer-primaryinfo {
    overflow: hidden;
    padding-top: 15px
}

.nav-footer-secondaryinfo {
    font-size: 12px
}

.nav-footer-copyright {
    display: inline-block;
    vertical-align: top;
    line-height: 14px
}

.nav-footer-user {
    padding: 25px 12px 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    font-size: 0
}

    .nav-footer-user .nav-footer-login, .nav-footer-user .nav-footer-registration {
        font-size: 13px;
        line-height: 20px;
        display: inline-block
    }

    .nav-footer-user .nav-footer-login {
        padding-right: .7em;
        border-right: .5px solid #ddd
    }

    .nav-footer-user .nav-footer-registration {
        padding-left: .7em
    }

    .nav-footer-user strong {
        color: #666;
        display: inline-block;
        max-width: 100px;
        vertical-align: bottom
    }

    .nav-footer-user.logged {
        font-size: 13px
    }

        .nav-footer-user.logged > a {
            margin-left: 7.5px
        }

.nav-footer-secondary-user {
    padding: 0 12px 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px
}

.nav-footer-downloadapp-banner {
    display: block;
    margin-top: 32px;
    text-align: center;
    background-color: #ffdb08;
    padding: 0 15px
}

    .nav-footer-downloadapp-banner a.nav-footer-downloadapp {
        font-size: 11px;
        vertical-align: middle;
        color: #666;
        padding-top: 0;
        display: inline-block
    }

        .nav-footer-downloadapp-banner a.nav-footer-downloadapp:active, .nav-footer-downloadapp-banner a.nav-footer-downloadapp:link, .nav-footer-downloadapp-banner a.nav-footer-downloadapp:visited {
            color: #666
        }

    .nav-footer-downloadapp-banner .nav-icon.nav-icon-downloadapp {
        background: url(https://http2.mlstatic.com/frontend-assets/ui-navigation/5.14.2/mercadoshops/49x64-download-icon.png) top center no-repeat;
        -webkit-background-size: 49px 64px;
        background-size: 49px 64px;
        display: inline-block;
        width: 49px;
        height: 64px;
        margin-top: -8px;
        margin-right: 10px;
        vertical-align: middle
    }

@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx),(min-resolution:192dpi) {
    .nav-footer-downloadapp-banner .nav-icon.nav-icon-downloadapp {
        background: url(https://http2.mlstatic.com/frontend-assets/ui-navigation/5.14.2/mercadoshops/97x127-download-icon@2x.png);
        -webkit-background-size: 49px 64px;
        background-size: 49px 64px;
        width: 49px;
        height: 64px
    }
}

.nav-footer-info-wrapper {
    padding: 0 10px
}

.nav-footer-hp {
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px)
}

.nav-header__nav-icon {
    cursor: pointer
}

    .nav-header__nav-icon:before {
        display: inline-block;
        margin: 0;
        text-align: center;
        width: 1em;
        font-family: navigation;
        color: #333;
        opacity: .54;
        -webkit-transition: .2s ease-out;
        transition: .2s ease-out;
        font-size: 24px
    }

    .nav-header__nav-icon span {
        display: none
    }

    .nav-header__nav-icon:hover:before {
        color: #333;
        opacity: 1
    }

.nav-header {
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.24);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.24);
    font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    height: 64px;
    line-height: 64px
}

.nav-header--fixed {
    position: fixed;
    width: 100%;
    z-index: 100
}

.nav-header.nav-header--fixed ~ main > .nav-bounds, .nav-header.nav-header--fixed ~ main > .nav-main-content {
    padding-top: 64px
}

.nav-header__bounds {
    height: 64px;
    padding: 0 16px;
    position: relative
}

.nav-header__title {
    display: inline-block;
    height: 48px;
    line-height: 1;
    margin: 8px 32px 8px 0;
    max-width: 120px;
    overflow: hidden;
    top: 0
}

.nav-header__title-hidden {
    max-width: 1px;
    max-height: 1px;
    overflow: hidden;
    opacity: 0;
    position: absolute
}

.nav-header__logo {
    color: #000 !important;
    display: block;
    font-size: 14px;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase
}

.nav-header__separator {
    display: none
}

.nav-header__image {
    height: auto;
    max-height: 48px;
    max-width: 90px;
    vertical-align: middle;
    width: auto
}

    .nav-header__image:before {
        background-color: #f5f5f5;
        content: '';
        display: block;
        height: 64px;
        width: 128px
    }

.nav-header__nav-icons {
    display: inline;
    float: right;
    height: 100%
}

.nav-header__nav-icon--search:before {
    content: '\EA3E'
}

.nav-header__nav-icon--cart:before {
    content: '\EA3C'
}

.nav-header__nav-icon--contact:before {
    content: '\EA3B'
}

.nav-header__nav-link {
    display: inline-block;
    height: 24px;
    margin: 0 0 0 16px
}

    .nav-header__nav-link:nth-child(2) {
        display: none
    }

.nav-header__switcher-open {
    display: inline-block;
    position: relative;
    z-index: 200
}

.nav-header__hamburger--top-bread {
    margin-top: 7px
}

.nav-header__hamburger--bottom-bread, .nav-header__hamburger--patty {
    margin-top: 5px
}

.nav-header__hamburger {
    background-color: #333;
    opacity: .54;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: block;
    height: 1px;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    width: 16px
}

.nav-header__switch {
    display: none
}

    .nav-header__switch:checked + .side-drawer {
        display: inline-block
    }

        .nav-header__switch:checked + .side-drawer + .nav-header__switcher-open .nav-header__hamburger--top-bread {
            -webkit-transform: translate(0,6px) rotate(40deg);
            -ms-transform: translate(0,6px) rotate(40deg);
            transform: translate(0,6px) rotate(40deg)
        }

        .nav-header__switch:checked + .side-drawer + .nav-header__switcher-open .nav-header__hamburger--patty {
            -webkit-transform: scale(0,0);
            -ms-transform: scale(0,0);
            transform: scale(0,0)
        }

        .nav-header__switch:checked + .side-drawer + .nav-header__switcher-open .nav-header__hamburger--bottom-bread {
            -webkit-transform: translate(0,-6px) rotate(-40deg);
            -ms-transform: translate(0,-6px) rotate(-40deg);
            transform: translate(0,-6px) rotate(-40deg)
        }

.side-drawer {
    background: #fff;
    display: none
}

.side-drawer__title {
    background: #fff;
    border-bottom: 1px solid #e2e2e2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    height: 64px;
    left: 0;
    line-height: 64px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100
}

.side-drawer__switcher-close {
    cursor: pointer;
    display: block;
    height: 64px;
    margin: 0 16px
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.nav-list--horizontal {
    position: absolute;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out
}

.nav-header__bar-switch {
    display: none
}

    .nav-header__bar-switch:checked + .search-form {
        left: 0;
        opacity: 1;
        width: 100%;
        -webkit-transition: opacity .1s ease-out,left .2s ease-out;
        transition: opacity .1s ease-out,left .2s ease-out;
        z-index: 300
    }

.search-form {
    left: 70%;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity .1s ease-in,left .1s ease-in,z-index .2s linear;
    transition: opacity .1s ease-in,left .1s ease-in,z-index .2s linear;
    width: 0;
    z-index: -1
}

    .search-form:before {
        display: inline-block;
        margin: 0;
        text-align: center;
        width: 1em;
        font-family: navigation
    }

.search-form__close-icon:before {
    content: '\EA01';
    font-size: 24px
}

.search-form__reset-icon:before {
    content: '\EA3D';
    font-size: 16px
}

h1 .nav-title {
    background-color: #fff
}
/*Carrito*/
.nav-header__bounds .nav-header-btn {
    background: 0 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    left: 0;
    padding: 20px;
    position: absolute;
    text-indent: -200%;
    top: 3px
}

    .nav-header__bounds .nav-header-btn:before {
        color: #666;
        font-family: navigation;
        font-size: 24px;
        line-height: 1;
        left: 16px;
        position: absolute;
        text-indent: 0;
        top: 16px
    }

.nav-cart.nav-cart-full .nav-icon-cart:before {
    content: '\EA22';
    font-size: 18px
}

.nav-cart.nav-cart-empty .nav-icon-cart:before {
    content: '\EA3C'
}

.nav-cart {
    display: inline-block;
    margin: 0 0 0 16px
}

    .nav-cart.nav-cart-empty .nav-icon-cart-quantity, .nav-header__banner {
        display: none
    }

    .nav-cart :before {
        font-size: 18px;
        line-height: 50px
    }

    .nav-cart .nav-icon-cart {
        margin-left: -8px
    }

        .nav-cart .nav-icon-cart:before {
            color: #333;
            font-size: 24px;
            opacity: .54;
            -webkit-transition: .2s ease-out;
            transition: .2s ease-out
        }

    .nav-cart .nav-icon-cart-quantity {
        color: #333;
        font-size: 12px;
        line-height: 15px;
        opacity: .54;
        position: absolute;
        right: 46px;
        text-align: center;
        top: 20px;
        width: 20px
    }

    .nav-cart:hover .nav-icon-cart-quantity, .nav-cart:hover :before {
        color: #333;
        opacity: 1
    }

.section-internal .nav-header {
    background-color: transparent;
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    position: initial
}

.section-internal > main .nav-main-content {
    padding-top: 0 !important
}

.nav-header .nav-bounds {
    line-height: 1;
    padding: 50px 0 0
}

.nav-header .nav-header-btn {
    background: 0 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    left: 0;
    margin: 5px 0 0 15px;
    padding: 20px;
    position: absolute;
    text-indent: -200%;
    top: 3px
}

    .nav-header .nav-header-btn:before {
        color: #3483fa;
        font-family: navigation;
        font-size: 32px;
        left: 10px;
        line-height: 1;
        position: absolute;
        text-indent: 0;
        top: 10px
    }

    .nav-header .nav-header-btn:active {
        background-image: none;
        -webkit-box-shadow: none;
        box-shadow: none
    }

.nav-header .nav-title {
    color: #333;
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    margin: 10px 0;
    padding: 30px 30px 0;
    position: initial;
    text-align: left;
    width: 100%
}

.nav-footer, .nav-footer-contact {
    background-color: #fff;
    display: block;
    font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif
}

@media all and (-ms-high-contrast:none),(-ms-high-contrast:active) {
    a img {
        border: 0
    }
}

.nav-footer {
    border: 0
}

    .nav-footer a:hover {
        color: #999;
        text-decoration: underline
    }

.nav-footer-contact {
    font-size: 14px;
    font-weight: 400
}

.nav-footer-contact-content {
    padding: 48px 0;
    color: #333
}

.nav-bounds--contact {
    padding: 0
}

.nav-bounds--copyright {
    max-width: 328px
}

.nav-footer .nav-bounds {
    height: 100%
}

.nav-footer-contact-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    margin: 0;
    padding-bottom: 16px
}

.nav-footer-contact-col {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    vertical-align: top
}

    .nav-footer-contact-col ul {
        list-style: none;
        margin: 0;
        line-height: normal;
        opacity: .87;
        padding: 0
    }

    .nav-footer-contact-col a {
        text-decoration: none !important;
        color: #333 !important
    }

.nav-footer-social-links a, .nav-footer-social-links a:active, .nav-footer-social-links a:link, .nav-footer-social-links a:visited {
    color: #333;
    text-decoration: none
}

    .nav-footer-social-links a:hover {
        text-decoration: underline
    }

.nav-footer-social-links:empty {
    display: none
}

.nav-footer-social-links .nav-footer-social-link-item {
    font-style: normal;
    display: table-cell;
    padding: 0 0 0 24px
}

    .nav-footer-social-links .nav-footer-social-link-item:before {
        display: inline-block;
        margin: 0;
        text-align: center;
        width: 1em;
        font-family: navigation;
        font-size: 24px;
        position: relative;
        -webkit-transition: .2s ease-out;
        transition: .2s ease-out;
        vertical-align: top
    }

    .nav-footer-social-links .nav-footer-social-link-item:first-child {
        padding: 0
    }

    .nav-footer-social-links .nav-footer-social-link-item:hover:before {
        color: #333;
        opacity: 1
    }

.nav-footer-social-links a:before {
    color: #333;
    opacity: .38
}

.nav-footer-social-links [href*='twitter.com']:before {
    content: '\EA40'
}

.nav-footer-social-links [href*='facebook.com']:before {
    content: '\EA41'
}

.nav-footer-social-links [href*='plus.google.com']:before {
    content: '\EA0A'
}

.nav-footer-social-links [href*='youtube.com'] {
    width: 24px
}

    .nav-footer-social-links [href*='youtube.com']:before {
        content: '\EA49';
        font-size: 17px;
        vertical-align: middle
    }

.nav-footer-social-links [href*='instagram.com']:before {
    content: '\EA42'
}

.nav-footer-social-links-container {
    display: table;
    margin: 24px auto 0
}

    .nav-footer-social-links-container:empty {
        display: none;
        margin: 0
    }

.nav-footer-fiscal-data, .nav-footer-primaryinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

.nav-footer-primaryinfo {
    border: 0;
    color: #999;
    font-size: 12px;
    margin: 0;
    padding: 0;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.nav-footer-copyright {
    color: #999;
    font-size: 12px;
    font-weight: 300;
    height: 100%;
    text-align: center;
    width: auto
}

.nav-footer-afip-img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    height: 40px;
    margin: 16px 0;
    width: auto
}

.nav-footer-contact + .nav-footer > .nav-bounds--copyright:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: solid 1px #e2e2e2;
    content: '';
    display: block;
    height: 1px;
    max-width: 1200px;
    padding: 0 10px;
    position: relative;
    width: 100%
}

.contact-mail {
    line-height: 2
}

.contact-phone-number {
    font-size: 16px;
    line-height: 1.7
}

.nav-footer-fiscal-data {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 16px
}

    .nav-footer-fiscal-data p {
        margin: 0
    }

.nav-footer-disclaimer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: initial;
    flex-direction: initial;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

    .nav-footer-disclaimer p:only-child {
        margin: 16px auto
    }

@media (min-width:768px) {
    [class*=' nav-icon-']:before, [class^=nav-icon-]:before {
        display: inline-block
    }

    [class*=' nav-icon-'] span, [class^=nav-icon-] span {
        display: none
    }

    body, html {
        font-size: 13px;
        background-color: #eee
    }

    .nav-bounds {
        max-width: 1220px
    }

    .nav-header {
        height: 96px;
        line-height: 96px
    }

    .nav-header__banner {
        background-color: #f5f5f5;
        display: block;
        line-height: 0;
        padding-top: 96px;
        width: 100%
    }

    .nav-header.nav-header--fixed + .nav-header__banner + main > .nav-bounds, .nav-header.nav-header--fixed + .nav-header__banner + main > .nav-main-content, .nav-header.nav-header--fixed + .nav-header__banner ~ main > .nav-bounds, .nav-header.nav-header--fixed + .nav-header__banner ~ main > .nav-main-content {
        padding-top: 0
    }

    .nav-header__banner-image {
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
        height: 200px;
        width: 100%
    }

    .nav-header.nav-header--fixed ~ main > .nav-bounds, .nav-header.nav-header--fixed ~ main > .nav-main-content {
        padding-top: 96px
    }

    .nav-header__bounds {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 96px
    }

    .nav-header__title {
        height: 64px;
        line-height: 56px;
        margin: 16px 32px 16px 0;
        max-width: 120px;
        vertical-align: top
    }

    .nav-header__logo {
        line-height: 64px
    }

    .nav-header__separator {
        border: .5px solid #e2e2e2;
        display: inline-block;
        height: 48px;
        left: -4px;
        margin: 24px 0;
        position: relative;
        width: 0
    }

    .nav-header__image {
        height: auto;
        max-height: 64px;
        max-width: 120px;
        width: auto
    }

    .nav-cart:before, .nav-header__nav-link:before {
        border: .5px solid #e2e2e2;
        height: 16px;
        top: -3px
    }

    .nav-header__nav-link {
        margin: 0
    }

        .nav-header__nav-link:before {
            content: '';
            display: inline-block;
            margin: 0 12px;
            position: relative
        }

        .nav-header__nav-link:first-child:before, .nav-header__switcher-open, .side-drawer {
            display: none
        }

    .nav-header__bar-switch:checked + .search-form {
        width: auto
    }

    .search-form__search-icon:before {
        content: '\EA3E'
    }

    .search-form__spinner:before {
        content: '\EA3F'
    }

    .search-form__close-icon:before {
        content: '\EA3D';
        font-size: 16px
    }

    .nav-header__bar-switch:checked + .search-form + .nav-list--horizontal {
        opacity: 0;
        -webkit-transition: opacity .2s ease-in;
        transition: opacity .2s ease-in
    }

    .nav-header__nav-icons {
        float: none;
        position: absolute;
        right: 20px
    }

    .nav-header__bar-switch:checked ~ .nav-header__nav-icons > .nav-header__nav-link:first-child {
        display: none
    }

    .nav-header__nav-icons > .nav-header__nav-link:nth-child(2) {
        display: inline-block
    }

    .nav-header__bar-switch:checked ~ .nav-header__nav-icons > .nav-header__nav-link:nth-child(2):before {
        display: none
    }

    .nav-cart {
        margin: 0
    }

        .nav-cart:before {
            content: '';
            display: inline-block;
            margin: 0 12px;
            position: relative
        }

        .nav-cart .nav-icon-cart {
            margin-left: 0
        }

        .nav-cart :before {
            color: #fff;
            font-size: 18px
        }

        .nav-cart .nav-icon-cart-quantity {
            display: inline-block;
            right: -6px;
            top: 34px
        }

        .nav-cart.nav-cart-full .nav-icon-cart:before {
            font-size: 18px;
            position: relative;
            top: -3px
        }

    .nav-footer, .nav-footer-contact-col {
        text-align: left
    }

    .nav-footer-contact {
        font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
        margin: 64px auto 0;
        width: 100%
    }

    .nav-footer-contact-col ul:not(.nav-footer-social-links) {
        line-height: 1.71
    }

    .nav-footer-social-links-container {
        margin: 0
    }

    .nav-footer-contact {
        font-size: 0;
        line-height: 0
    }

    .nav-bounds--contact {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        max-width: 1200px;
        padding: 0 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .nav-footer-primaryinfo {
        margin: auto;
        width: 100%
    }

    .nav-footer-copyright {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0;
        text-align: left;
        width: 100%
    }

    .nav-bounds--copyright, .nav-footer-fiscal-data {
        -webkit-box-direction: normal
    }

    .nav-footer-afip-img {
        height: 48px;
        margin: 12px 0
    }

    .nav-footer .nav-bounds {
        height: 100%;
        max-width: 1200px;
        padding: 0 10px
    }

    .nav-bounds--copyright {
        display: flex;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .nav-footer {
        background-color: #fff;
        border: 0;
        height: 72px;
        margin: auto;
        width: 100%
    }

    .nav-footer-fiscal-data {
        -ms-flex-item-align: start;
        align-self: start;
        display: flex;
        -webkit-box-orient: horizontal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin: 0
    }

        .nav-footer-fiscal-data p {
            margin: 0 4px 0 0 !important
        }

    .nav-footer-fiscal-data__name:after {
        content: ' - '
    }

    .nav-footer-disclaimer {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: initial;
        flex-direction: initial;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%
    }

        .nav-footer-disclaimer p:only-child {
            margin: 0
        }
}

@media all and (min-width:768px) and (-ms-high-contrast:none),(min-width:768px) and (-ms-high-contrast:active) {
    .search-form__input {
        top: 8px
    }

    .search-form__search-icon:before {
        top: 0
    }

    .search-form__close-icon:before {
        top: -14px
    }

    .search-form__spinner:before {
        top: 0
    }
}
